img.home-logo {
    width: 13%;
}

.btn-primary {
    color: #fff;
    background-color: #041160;
    border-color: #041160;
}

.btn-primary:hover {
    color: #fff;
    background-color: #041160;
    border-color: #041160;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #041160;
    border-color: #041160;
}

img.fondo {
    width: 53%;
    float: left;
    /* position: fixed; */
}

form.rigthform {
    margin-top: 8%;
    margin-right: 4%;
}

.h1, h1 {
    font-size: 1.2rem;
    color: #041160;
}

.h2, h2 {
    text-align: justify;
    animation: move-left-right 3s infinite;
    font-size: 258%;
    z-index: 1;
    position: absolute;
    margin-top: 19%;
    color: white;
    margin-left: 2%;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 65px;
}

label.custom-file-label {
    width: 81%;
}

@keyframes move-left-right {
    0% {
        transform: translate(-10px);
    }
    50% {
        transform: translate(10px);
    }
    100% {
        transform: translate(-10px);
    }
}

img.fondo {
    animation: move-left-right 3s infinite;
    margin-top: -2%;
    margin-left: -13px;
}


.listDetails{
    color:black;
    animation:none;
    margin-top:0%;
    width:100%;
    margin-left: 32%;
}